.glance {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: auto;
  min-height: 90vh;
}

.getarticleBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 2rem 1rem 0rem 1rem;
  background-color: #203239;
  color: whitesmoke;
}
