.glance {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: auto;
  min-height: 90vh;
}

.getarticleBtn,
.returnToFeaturedBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 2vw 5vw;
  background-color: #1a374d;
  color: whitesmoke;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .glance {
    display: flex;
    flex-direction: column;
  }
}
