nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: #1a374d;
  color: whitesmoke;
  position: sticky;
  top: 0;
}

.nav-links {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: large;
}

.nav-links > a {
  color: whitesmoke;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  nav {
    height: 12vh;
    padding: 0 1rem;
  }
  .nav-links {
    width: 60%;
    justify-content: space-between;
  }
}
