.random-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2vw 5vw;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: fit-content;
}

.random-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.random-card > h1 {
  text-align: center;
  padding: 1rem;
}

.random-title {
  align-self: flex-start;
  padding: 0 2rem;
}
.random-body {
  text-align: left;
  line-height: 1.2;
  padding: 0 2rem;
}

.newArticleBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  margin: 5vw 0 0 0;
  width: 100%;
  border-top: solid 5px #ffd07f;
  cursor: pointer;
  transition: all 0.5s;
}

.newArticleBtn:hover {
  background-color: #ffd07f;
}
