.recent-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem 2rem 4rem 2rem;
  padding: 1rem;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.recent-card > h4 {
  text-decoration: underline;
}

.no-recent {
  font-style: italic;
}

.query-item {
  font-weight: 600;
  line-height: 1.2;
}

.query-item:hover {
  cursor: pointer;
}

.clear-recent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 100%;
  margin: 1rem 0;
  background-color: #1a374d;
  color: whitesmoke;
  cursor: pointer;
  transition: all 0.5s;
}

.clear-recent:hover {
  filter: hue-rotate(45deg);
  transition: all 0.5s;
  transform: scale(1.05);
}

@media only screen and (max-width: 768px) {
  .recent-card {
    padding: 1rem;
    margin: 1rem;
    align-items: center;
    line-height: 1.5rem;
  }
}
