@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body {
  min-height: 100vh;
  background-color: #f0f0f0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.readmoreBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 2rem 1rem 0rem 1rem;
  background-color: #1a374d;
  color: whitesmoke;
  cursor: pointer;
  transition: all 0.5s;
}

.readmoreBtn:hover {
  filter: hue-rotate(45deg);
  transition: all 0.5s;
  transform: scale(1.05);
}
